/* CSS Document */
$white: #fdfdfd;
$black: #252831;
$dkgray: #333;
$ltgray: #eee;
$purple: #600060;
$green: #08ff08;

html,
body {
  height: 100%;
  width: 100%;
  }

body,
td,
th,
p {
  font: 16pt/1.3 trebuchet, arial, san-serif;
  color: $dkgray;
}

body {
  background-color: $ltgray;
  margin: 0;
  padding: 0;
  position: relative;
}

ul,
li {
	font-size: 10pt;
	color: $dkgray;
}

a {
	color: $purple;
	text-decoration: none;
}

a:hover,
a:focus {
	text-shadow: 1px 1px 5px $ltgray;
}

a img{
	border: none 0 #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 20px;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

header {
  background-color: $black;
  text-align:center;
}

header h1 {
  margin: auto;
  padding: 25px;
}

header h1 a {
  color: $white;
  font-size: 22pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}

#maincontent {
  background-color: $ltgray;
}

@media screen and (max-width: 768px) {
  #maincontent {
    display: flex;
    flex-direction: column;
  }
  #maincontent section:first-child {
    order: 2;
    margin: 10%
  }
}

#footer {
  background-color: $dkgray;
  color: $white;
  font-size: 12pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}

#footer a {
  color: $white;
}


/* ====================== Navigation ====================== */
nav {
  padding: 5px;
  background-color: $ltgray;
}

/* ====================== Map ====================== */
#map {
  height: 400px;
  background-color: $ltgray;
}

// @media only screen and (max-width: 768px) {
//   #map {
//     display: none;
//   }
// }


/* ====================== Restaurant Filtering ====================== */
.filter-options {
  background-color: $black;
  align-items: center;
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
}

.filter-options select {
  background-color: $white;
  border: 1px solid #fff;
  font-size: 14pt;
  height: 35px;
  letter-spacing: 0;
  margin: 5px;
  padding: 0 10px;
  width: 180px;
}


/* ====================== Restaurants List ====================== */
#restaurants-list {
  background-color: $ltgray;
  list-style: outside none none;
  margin: 0;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#restaurants-list li {
  background-color: #fff;
  border-radius: 25px 0;
  margin: 15px;
  min-height: 380px;
  text-align: left;
  width: 270px;
  display: inline;
}

@media only screen and (max-width: 555) {
  #restaurants-list li {
    max-width: 100%;
  }
}

@media only screen and (max-width: 830) {
  #restaurants-list li {
    max-width: 40%;
  }
}

@media only screen and (min-width: 831) {
  #restaurants-list li {
    max-width: 270px;
  }
}

#restaurants-list .restaurant-img {
  background-color: $ltgray;
  display: block;
  margin: 0;
  max-width: 100%;
  border-radius: 25px 0 0 0;
}

#restaurants-list li h3 {
  color: $purple;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
  padding-left: 20px;
}

#restaurants-list p {
  margin: 0;
  font-size: 11pt;
  padding-left: 20px;
}

#restaurants-list button {
  background-color: $purple;
  margin: 20px;
  padding: 10px;
  border-radius: 8px 0;
  text-transform: uppercase;
  color: #fff;
  font-size: 12pt;
}


